<%= javascript_include_tag "cyclones" %>
<%= javascript_include_tag "search" %>

<div class="row container">
<!-- left column -->
<div class="small-1 columns side"></div>

<!-- middle column -->
<div class="small-10 columns middle">
	<div class="dashboard">
		<div class="small-6 columns">
			<!-- display map -->
			<div id="map" class="map-medium"></div>
		</div>
		<div class="small-6 columns">
			<div class= "row" id="search-radius">
				<h3>Search for Tornadoes Near:</h3>
					<%= form_for("/search", method: "get") do |f| %>
			  <div><%= f.label :city %>
			  <%= f.text_field :city, autofocus: true, id: "city" %></div>
			  <div><%= f.label :state %>
			    <%= f.text_field :state, autofocus: true, id: "state" %></div>
		    <div><%= f.label :radius %>
		    <%= f.text_field :radius, autofocus: true, id: "radius" %></div>
		    <div><%= f.submit "Search", class: "submit" %></div>
		  		<% end -%>
		  	</div>
	</div> <!-- closes search -->
</div> <!-- closes middle column -->

<!-- right column -->
<div class="small-1 columns side"></div>
</div> <!-- closes container -->
