<%= render 'cyclones/title_show' %>
<div class="row container">
<!-- left column -->
<div class="col-md-1 side"></div>

<!-- middle column -->
<div class="col-md-10 middle">
	<div class="dashboard">
		<div class="col-md-6">
			<!-- display map -->
			<div id="map" class="map-medium"></div>
		</div>
		<div class="col-md-6">
			<!-- display gauges -->
			<div id='chart_div1'></div>
			<div id='chart_div2'></div>
			<div id='chart_div3'></div>
		</div>
	</div> <!-- closes dashboard -->
</div> <!-- closes middle column -->

<!-- right column -->
<div class="col-md-6 side"></div>
</div> <!-- closes container -->
<%= render 'cyclones/footer_show' %>

<%= javascript_include_tag "cyclones" %>
<%= javascript_include_tag "search" %>
<%= javascript_include_tag "cyclones-gauges" %>