<div class="row main">
<!-- middle column -->
<div class="col-md-12 middle">
	<div class="dashboard">
		<div class="col-md-9">
			<!-- display map -->
			<div id="map"></div>
	   </div> <!-- closes 9 cols -->
		<div class="col-md-3" id="search_box">
			<div id="search-radius">
				<h4>Search for Cyclones</h4>
				<p>within 25 Miles of:</p>
					<%= form_for("/search", method: "get") do |f| %>
			  <div><%= f.label :city, id: "city" %>
			  <%= f.text_field :city, autofocus: true, id: "citysearch" %></div>
			  <div><%= f.label :state, id: "state"  %>
			    <%= f.text_field :state, id: "statesearch" %></div>
		    <div><%= f.submit "Search", class: "submit btn btn-default" %></div>
		  		<% end -%>
		  </div> <!-- closes search -->
		  	<div id='legend-content2'>
		    <div class='legend legend-search'>
		    <div class='legend-title'>Aggregate Total for Current View
		    	<p id="legend-subtitle">(search to update data)</p>
		    </div>
		    <div class='legend-scale'>
		       <ul class='legend-labels'>
		        <li>Highest F-Scale in View: <span id="highestfscale"></span></li>
		        <li><span class="around">~</span><span id="proploss"></span> Million in Property Loss</li>
		        <li><span class="around">~</span><span id="croploss"></span> Million in Crop Loss</li>
		        <li><span id="fatalities"></span> Fatalities</li>
      		</ul>
	    	</div>
	    	</div>
	  	</div>
		</div> <!-- closes 3 col -->
	</div> <!-- closes dashboard -->
</div> <!-- closes middle column -->
</div> <!-- closes row -->

<%= javascript_include_tag "search" %>
